.app_content {
    grid-area: c;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 7px;
    margin: 5px 0px 0px 5px;
    background-color: rgb(133, 133, 133);
    color: #fff;
    padding: 10px 0px 0px 10px;
    line-height: 25px;
}