.app_content {
    border: 1px solid rgb(148, 148, 148);
    border-radius: 7px;
    margin: 5px 0px 0px 5px;
    background-color: rgb(87, 87, 87);
    color: #fff;
    padding: 5px 0px 0px 10px;
    line-height: 25px;

    font-weight: normal;
}