.app_header {
    grid-area: h;
    display: grid;
    grid-template-columns: 65px 2fr;
    align-items: center;
    background-color: rgb(80, 80, 80);
    height: 50px;
}

.app_header img {
    width: 40px;
    position: relative;
    left: 358px;
}