.app_nav {
    margin-top: 5px;
    border-radius: 5px;
    grid-area: n;
}

.app_nav a {
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.app_nav a:hover {
    color: #fff;
}

.app_item_link {
    display: grid;
    align-items: center;
    grid-template-columns: 35px auto;
    margin-top: 8px;
    margin-left: 10px;
}

.app_item_link img {
    width: 25px;
}

a.active {
    color: #fff;
    border-bottom: 1px solid #fff;
}