.app_button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #2196F3;
    background-color: #2196F3;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 2px 2px 3px #000;
    position: relative;
    left: 438px;
}

.app_button:active {
    box-shadow: 1px 1px 1px #000;
}

.app_textForm {
    width: 500px;
    height: 70px;
    border-radius: 5px;
    padding: 3px 0px 0px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: rgb(202, 202, 202);
}

.app_item_Post {
    padding-top: 5px;
    display: grid;
    grid-template-rows: 70px 45px;
    align-items: center;
}

.app_My_Post {
    text-decoration: none;
}